<?xml version="1.0" encoding="UTF-8"?>
<Configuration >
    <Appenders>

        <RollingFile name="ErrorLog" fileName="logs/ErrorLog.log"
                     filePattern="logs/$${date:yyyy-MM}/ErrorLog-%d{MM-dd-yyyy}-%i.log.gz">

            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

        </RollingFile>

        <RollingFile name="InfoLog" fileName="logs/InfoLog.log"
                     filePattern="logs/$${date:yyyy-MM}/InfoLog-%d{MM-dd-yyyy}-%i.log.gz">

            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

        </RollingFile>

        <Console name="STDOUT" target="SYSTEM_OUT" >
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT" level="info"/>
            <AppenderRef ref="InfoLog" level="info"/>
            <AppenderRef ref="ErrorLog" level="error"/>
        </Root>
    </Loggers>
</Configuration>